/////////////////////////////
//Image Slider Row///////////
.slider {
  @extend .light-shadow;
  width:100%;
  margin-bottom:30px;
}
.slider-wrapper {
  border:solid 10px $white;
  background-image: url('../images/top-image.png');
  background-position:50% 0%;
  background-size:cover;
  height:338px;
  img {
    margin-top:60px;;
    margin-left:20px;
  }
}
.logo {
  //Add responsive code...
}
.slider-nav-wrapper {
  margin: 0 auto;
  .slider-button {
    width:16px;
    height:16px;
    background-color:$white;
    @extend .shadow-border;
    margin-right:8px;
  }
  .slider-button:last-child {
    margin-right:0;
  }
}
/////////////////////////////
/////////////////////////////




/////////////////////////////
//Three Column Articles//////
.three-col {
  overflow:auto;
  width:100%;
  display:flex;
  margin-bottom:30px;
}

.three-col > article {
  float:left;
  flex:1;
  width:32%;
  margin-right:2%;
  display:inline-block;
}

.three-col article {
  @extend .shadow-border;
}

.three-col article:last-child {
  margin-right:0;
}
.article-wrapper {
  position:relative;
}
.post-content-wrapper {
  padding:30px;
  background-color:$white;
}

.post-title {
  font-size:24px;
  margin-bottom:14px;
  min-height:90px;
}
.post-date {
  color:$light-grey;
  font-size:11px;
  margin-bottom:14px;
}
.post-content {
  font-size: 12px;
  line-height:20px;
  margin-bottom:20px;
  min-height:180px;
}
a.post-link {
  color:$red;
  text-transform:uppercase;
  font-family:$header-font;
  font-size:13px;
  font-weight:900;
  &:hover {
    opacity:.7;
  }
}
.post-link-wrapper {
  text-align:center;
  position:absolute;
  bottom:20px;
  margin:auto;
  width:100%;
}
/////////////////////////////
/////////////////////////////


/////////////////////////////
////Red Arrow - used cssarrowplease.com to generate
/////////////////////////////
.arrow_box-container {
  position:absolute;
  left:-20px;
}

.arrow_box {
  position: relative;
  background: $red;
  @extend .light-shadow;
}
.arrow_box:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: $red;
  border-width: 40px;
  margin-top: -40px;
}


/////////////////////////////
//Pic Grid///////////////////
.picgrid {
  overflow:auto;
  box-shadow:none;
  .left-col, .right-col {
    float:left;
    display:inline-block;
    min-height:464px;
  }
  .left-col {
    width:66%;
    margin-right:2%;
    .top-row {
      overflow:auto;
      width:100%;
      margin-bottom:6px;
    }
    .left-half-col, .right-half-col {
      display:inline-block;
      float:left;
      width:48.5%;
      @extend .shadow-border;
    }
    .left-half-col {
      margin-right:3%;
      .img-wrapper {
        background: $picgrid-left-half;
        background-position: right center;
        h2 {
          @extend .picgrid-name;
          &:hover {
            color:$red;
          }
        }
      }
    }
    .right-half-col {
      margin-right:0;
      .img-wrapper {
        background: $picgrid-right-half;
        h2 {
          @extend .picgrid-name;
          &:hover {
            color:$red;
          }
        }
      }
    }
    .bottom-row {
      .full-col {
        width:100%;
        @extend .shadow-border;
        .img-wrapper {
          background: $picgrid-left-full;
          background-position: left center;
          text-align:center;
          h2 {
            display:inline;
            @extend .picgrid-name;
            bottom:40%;
            &:hover {
              color:$red;
            }
          }
        }
      }
    }
  }
////RIGHT SIDE OF PIC GRID///
  .right-col {
    width:32%;
    @extend .shadow-border;
    .full-col-wrapper {
      color:$white;
      background: $picgrid-right-full;
      background-position:75% 50%;
      background-size:cover;
      height:464px;
      border:6px solid $white;
      position:relative;
      text-align:center;
      h2 {
        position:absolute;
        bottom:40%;
        font-size:44px;
        line-height:40px;
        &:hover {
          color:$red;
        }
      }
    }
  }
}
.picgrid .img-wrapper {
  border:6px solid $white;
  height:220px;
  position:relative;
  text-align:center;
}
/////////////////////////////
/////////////////////////////




/////////////////////////////
//Skateboard Deck Row////////
.skateboard-decks {
  background-color:$white;
  text-align:center;
  a:hover {
    opacity:.7;
  }
  img {
    padding:20px;
    padding-left:16px;
    padding-right:16px;
  }
}
.top-skateboard-decks, .bot-skateboard-decks {
  display:inline-block;
}
/////////////////////////////
/////////////////////////////
